.photo__likes-button {
  display: block;
  padding-top: 17px;
  width: 22px;
  background-color: initial;
  background-image: url(../../../images/icon-heart.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: top center;
  border: none;
  box-sizing: border-box;
  transition: opacity .3s ease;
  cursor: pointer;
}

.photo__likes-icon:hover {
  opacity: .5;
}