.profile {
  display: grid;
  grid-template-columns: min-content auto min-content;
  padding-top: 40px;

  min-width: 282px;
  max-width: 880px;
  width: 100%;
}

@media screen and (max-width: 999px) {
  .profile {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
    justify-items: center;
  }
}
