.form__submit {
  margin: 47px 0 0 0;
  padding: 15px 0;
  box-sizing: border-box;
  width: 100%;
  color: #fff;
  font-size: 18px;
  line-height: 1.2;
  background-color: #000;
  border: none;
  border-radius: 2px;
  cursor: pointer;
  transition: opacity .3s ease;
  pointer-events: all;
}

.form__submit:hover {
  opacity: .8;
}

.form__submit_inactive {
  background-color: inherit;
  opacity: .2;
  color: #000;
  border: 1px solid #000;
  pointer-events: none;
  user-select: none;
}

@media screen and (max-width: 767px) {
  .form__submit {
    font-size: 14px;
  }
}