.profile__info {
  display: grid;
  grid-template-columns: fit-content(538px) fit-content(24px);
  grid-template-rows: 1fr;
  grid-template-areas:
    "name edit-button"
    "profession profession";
  gap: 8px 18px;

  min-width: 282px;
  max-width: 580px;
  width: 100%;
}

@media screen and (max-width: 999px) {
  .profile__info {
    grid-template-columns: fit-content(240px) fit-content(24px);
    justify-content: center;
    justify-items: center;

    width: 88.12%;
  }
}