.profile__info {
  display: grid;
  grid-template-columns: fit-content(538px) fit-content(24px);
  grid-template-areas:
    "name edit-button"
    "profession profession";
  gap: 8px 19px;

  min-width: 282px;
  max-width: 580px;
  width: 100%;
}

@media screen and (max-width: 767px) {
  .profile__info {
    grid-template-columns: fit-content(254px) fit-content(18px);
    justify-content: center;
    justify-items: center;
    gap: 14px 10px;

    width: 88.12%;
  }
}