.profile__button_edit {
  grid-area: edit-button;
  align-self: end;
  margin-bottom: 8px;

  width: 24px;
  height: 24px;

  background-image: url(../../../../images/icon-pen.svg);
}

@media screen and (max-width: 767px) {
  .profile__button_edit {
    width: 18px;
    height: 18px;
  }
}