.photos {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(282px, max-content));
  gap: 20px 17px;
  justify-content: center;
  padding-top: 51px;
  width: 100%;
}

@media screen and (max-width: 767px) {
  .photos {
    padding-top: 36px;
  }
}